<div class='container-fluid justify-content-md-center navbar navbar-expand-lg p-0 mt-2'>

  <button class='navbar-toggler custom-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbar-collapse' aria-controls='navbar-collapse' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon p-3'></span>
  </button>

  <div class='collapse navbar-collapse justify-content-md-center main-nav-border' id='navbar-collapse'>
    <ul class='navbar-nav'>
      <li class='nav-item'>
        <a href='/' class='nav-link text-secondary pb-0'> <i class='bx bx-globe bx-md bi d-block mx-auto'></i>All Products</a>
      </li>
      <li class='nav-item'>
        <a href='/home/Art & Collectibles' class='nav-link text-secondary pb-0'> <i class='bx bxs-paint bx-md bi d-block mx-auto'></i>Art & Collectibles</a>
      </li>
      <li class='nav-item'>
        <a href='/home/Clothing & Shoes' class='nav-link text-secondary pb-0'> <i class='bx bxs-t-shirt bx-md bi d-block mx-auto'></i>Clothing & Shoes</a>
      </li>
      <li class='nav-item'>
        <a href='/home/Home & Living' class='nav-link text-secondary pb-0'> <i class='bx bxs-institution bx-md bi d-block mx-auto'></i>Home & Living</a>
      </li>
      <li class='nav-item'>
        <a href='/home/Jewelry & Accessories' class='nav-link text-secondary pb-0'> <i class='bx bx-loader-circle bx-md bi d-block mx-auto'></i>Jewelry & Accessories</a>
      </li>
      <li class='nav-item'>
        <a href='/home/Toys & Entertainment' class='nav-link text-secondary pb-0'> <i class='bx bxs-guitar-amp bx-md bi d-block mx-auto'></i>Toys & Entertainment</a>
      </li>
    </ul>
  </div>
</div>