<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Tradeopedia</title>
</head>
<body>
    <div class="container-fluid background-app ">
        <div class="row">
            <div class="col-lg-9">
                <h1>Tradeopedia</h1>
            </div>
            
            <div class="col-lg-3" style="padding-top: 10px;">
                <!-- <button  id="basket-btn" style="float: left;">  Basket</button> -->
                <a href="" id="login-btn"  style="float: right;background: transparent;"> Login</a>
            </div>
        </div></div>
    <nav class="navbar navbar-expand-md  background-app ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon " style="color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="#antiques" href="">Antiques </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="#apparel" href="">Apparel </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="#jewleryAndAccessories" href="">Jewlery & Accessories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="#homeAndLiving" href="">Home & Living</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="#toysAndCrafts" href="">Toys & Crafts</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link" id="artAndMusic" href="">Art & Music </a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" id="others" href="">Others </a>
            </li>  
          </ul>
          
        </div>  
      </nav>
      <div class="container-fluid" style="margin-top: 20px;">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-8">
                    <input id="search-item"/>
                    <button  id=" search-btn" style="background-color:rgb(102, 99, 99);color:white ;margin-left: 5px;border-radius: 5px;"> Search </button>
                </div>
                <div class="col-lg-4">
                    <input id="search-zip-code"/>
                    <button  id=" search-zip-code-btn" style="background-color:rgb(102, 99, 99);color:white ;margin-left: 5px;border-radius: 5px;"> Zip Code </button>
                </div>
            </div>
      </div>
</div>
<div class="footer background-app text-center">
    <div class="row content-justify">
        <div class="col-lg-1 "></div>
        <div class="col-lg-3 ">
            <br>
            <p>About TRADEOPEDIA</p>
            <p>Company Info</p>
            <p>Investors</p>
            <p>Careers</p>
        </div>
        <div class="col-lg-1 "></div>
        <div class="col-lg-3">
            <br>
            <p>Stay Connected</p>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
        <div class="col-lg-1 "></div>
        <div class="col-lg-3 ">
            <br>
            <p>Help & Conntact</p>
            <p>Policies</p>
            <p>FAQ's</p>

        </div>
    </div>
</div>
</body>
</html>