

{{> sidebar_nav}}

<div class="main-section">
      <div class="d-flex align-items-center justify-content-between">
        <div class="home-content main-content">
          <i id="dash_menu" class="bx bx-menu"></i>
        </div>
        <div class="pe-3">
          
            <button id='logout-button' class='btn btn-danger'>Logout</button>
          
        </div>
      </div>

      <div class="container px-5 py-2">
      {{> main_nav_user}}
      </div>

  {{> gallery_all loggedIn=loggedIn}}
</div>



      